.center{
    text-align: center;
    margin: auto;
}
 .back{
    position:absolute;
    margin-top: -5%;
 }

.sender{
    bottom: 0;
    position: fixed;
    width: 100%;
}

.sendInput{
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
}
.fondo{
    background-color: grey !important;
}