.center{
    text-align: center;
    margin: auto;
}

.v-center{
    vertical-align: middle;
}

.car, .person{
    border-radius: 100%;
    overflow: hidden;
}

.open_button{
    margin-top: 30% !important;
}